<!DOCTYPE html>
<html>

<head>
    <meta charset=utf-8>
    <meta name=viewport content="width=device-width,initial-scale=1,user-scalable=0">
    <title>phonehtml</title>
    <link href=/static/phone/css/app.036fc46f8d77b3f2e5388b2bcec350fa.css rel=stylesheet>
</head>

<body>
    <div id=app-box></div>
    <script type=text/javascript src=/static/phone/js/manifest.2ae2e69a05c33dfc65f8.js></script>
    <script type=text/javascript src=/static/phone/js/vendor.5f2016c93292a6b76dc2.js></script>
    <script type=text/javascript src=/static/phone/js/app.1ade8893ab3d159a41b8.js></script>
</body>

</html>